* {
    box-sizing: border-box;
}

#logo{
    vertical-align: middle;
    height: 80%;
    padding: auto;
}

#inline{
display: inline;
}

#container{
    background-color: white;
    line-height: 80px;
    height: 80px;
   
}

.contents{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}