* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Intestazione con logo e titolo all'interno di container*/
#logo{
    vertical-align: middle;
    height: 80%;
    padding: auto;
}

#inline{
display: inline;
}

#container{
    background-color: white;
    line-height: 60px;
    margin-top: 2px;
    height: 70px;
    width: 100%;
}
/*Fine intestazione*/


/*Prima parte del corpo con i button*/
#button1{
        outline: none;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        border: solid 1px;
        background: #0095cd;
        border-radius: 8px;
}

#button2{
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background:lightgray;
    border-radius: 8px;   
}
/*Fine prima parte del corpo*/


/*Seconda parte del corpo con la creazione di box diverse*/
.done{
    display: inline-block;
    width: 15px;
    height: 15px;

    border: 1px solid green;
    color: green;

    font-size: 10px;
    text-align: center;

    border-radius: 50%;
}

.wrong{
    display: inline-block;
    width: 15px;
    height: 15px;

    border: 1px solid red;
    color: red;

    font-size: 10px;
    text-align: center;

    border-radius: 50%;
}

.editorial{
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background: #0095cd;
    border-radius: 12px;

    font-size: 8px;
}

#goals{
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background-color: blueviolet;
    border-radius: 12px;

    font-size: 8px;
}

#recruiting{
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background-color:darkgreen ;
    border-radius: 12px;

    font-size: 8px;
}

#mobile{
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background-color: orange;
    border-radius: 12px;

    font-size: 8px;
}

#web{
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background-color:darkorchid;
    border-radius: 12px;

    font-size: 8px;
}

#sales{
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background-color: greenyellow;
    border-radius: 12px;

    font-size: 8px;
}
/*Fine creazione box*/

/*Con main centro il corpo intero al centro*/
main{  
   width: 70%;
   height: 50%;
   margin: 15px auto 5px auto;
   text-align: center;
   background-color: white;

   border-radius: 8px;
}
/*Con i due center imposto come deve andare il testo e le varie modifiche su di esso
E con distance la distanza tra i vari punti della lista*/
#center1{
    text-align: left;
    border-bottom: 2px lightgrey solid;
    padding: 10px 25px 5px ;
    margin-top: 30px;
}

#center2{
    text-align: left;
    border-bottom: 2px lightgrey solid;
    padding: 10px 25px 5px ;
}

.distance{
    margin-bottom: 18px;
}
/*fine center*/


/*Con body modifico la scritta e il colore in background*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    }
    
/*Fine body*/