* {
    box-sizing: border-box;
}

#logo{
    vertical-align: middle;
    height: 80%;
    padding: auto;
}

#inline{
display: inline;
}

#container{
    background-color: white;
    line-height: 80px;
    height: 80px;
   
}

.contents{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#button1{
        outline: none;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        border: solid 1px;
        background: #0095cd;
        border-radius: 8px;
}

#button2{
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background:lightgray;
    border-radius: 8px;   
}

body{
font-family: Arial, Helvetica, sans-serif;
}

.done{
    display: inline-block;
    width: 15px;
    height: 15px;

    border: 1px solid green;
    color: green;

    font-size: 10px;
    text-align: center;

    border-radius: 50%;
}

.wrong{
    display: inline-block;
    width: 15px;
    height: 15px;

    border: 1px solid red;
    color: red;

    font-size: 10px;
    text-align: center;

    border-radius: 50%;
}

.editorial{
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px;
    background: #0095cd;
    border-radius: 12px;

    font-size: 10px;
}